<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <title>Blog Post Card 01</title>
</head>
<body>
  <div class="card">
    <img src="./img/baby-hospital.webp" alt="Newborn baby">
    <div class="card-content">
        <div class="card-title">Enterocolite necrosante em recém-nascidos</div>
        <div class="card-date">25/08/21</div>
        <div class="card-text">
            A enterocolite necrosante é uma inflamação que acomete o trato gastrointestinal do bebê. 
            Como o próprio nome diz, ela provoca a morte de tecidos (necrose) e pode ser bastante grave. 
            Se não for tratada, pode levar ao óbito...
        </div>
    </div>
  </div>
</body>
</html>